@import '../../styles/variables';
@import '../../styles/mixins';

.assignment-list {
  @include container;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-2xl;
  min-height: calc(100vh - 60px);
  
  @include tablet {
    padding-top: $spacing-xl;
    min-height: calc(100vh - 70px);
  }
  
  &__loading,
  &__error {
    @include flex-center;
    @include flex-column;
    min-height: 50vh;
    gap: $spacing-lg;
  }
  
  &__error {
    text-align: center;
    
    h2 {
      font-size: $font-size-2xl;
      color: $error-color;
      
      @include tablet {
        font-size: $font-size-3xl;
      }
    }
    
    p {
      color: $text-secondary;
      font-size: $font-size-base;
      
      @include tablet {
        font-size: $font-size-lg;
      }
    }
  }
  
  &__header {
    margin-bottom: $spacing-xl;
    
    @include tablet {
      margin-bottom: $spacing-2xl;
    }
  }
  
  &__intro {
    text-align: center;
    margin-bottom: $spacing-lg;
    
    @include tablet {
      margin-bottom: $spacing-xl;
    }
  }
  
  &__title {
    @include heading($font-size-2xl);
    margin-bottom: $spacing-md;
    
    @include tablet {
      font-size: $font-size-3xl;
    }
    
    @include desktop {
      font-size: $font-size-4xl;
    }
  }
  
  &__subtitle {
    color: $text-secondary;
    font-size: $font-size-sm;
    max-width: 600px;
    margin: 0 auto;
    
    @include tablet {
      font-size: $font-size-base;
    }
    
    @include desktop {
      font-size: $font-size-lg;
    }
  }
  
  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-sm;
    justify-content: center;
    
    @include tablet {
      gap: $spacing-md;
    }
  }
  
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;
    
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-xl;
    }
    
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: $spacing-2xl;
    color: $text-secondary;
    font-size: $font-size-base;
    
    @include tablet {
      font-size: $font-size-lg;
    }
  }
}
