@import '../../styles/variables';
@import '../../styles/mixins';

.sql-editor {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: $radius-lg;
  overflow: hidden;
  border: 2px solid $border-color;
  
  @include tablet {
    height: 350px;
  }
  
  @include desktop {
    height: 400px;
  }
  
  &__header {
    @include flex-between;
    padding: $spacing-sm $spacing-md;
    background-color: #1e1e1e;
    color: #d4d4d4;
    
    @include tablet {
      padding: $spacing-md $spacing-lg;
    }
  }
  
  &__title {
    font-size: $font-size-sm;
    font-weight: 600;
    
    @include tablet {
      font-size: $font-size-base;
    }
  }
  
  &__hint {
    font-size: $font-size-xs;
    color: #9ca3af;
    display: none;
    
    @include tablet {
      display: inline;
      font-size: $font-size-sm;
    }
  }
  
  &__container {
    flex: 1;
    overflow: hidden;
  }
}
